<!-- Footer -->
<footer id="footer">
  <p>
  CONTAYNOR BV</br>
  Avenue de Tervurenlaan 36/18, 1040 Brussels</br></p>
  Tel: +32 495 920895
  </p>
  <ul class="icons-contaynor">
    <li><a class ="icon-contaynor style2" href="mailto:info@contaynor.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
    <li><a class ="icon-contaynor style2" href="https://www.linkedin.com/company/contaynor/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a class ="icon-contaynor style2" href="https://maps.google.com/maps?ll=50.839261,4.400945&z=13&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=1458611722461988206" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
  </ul>
</footer>
