<!-- Footer -->
<footer id="footer">
  <p>
  Contaynor BV</br>
  Avenue de Tervurenlaan 36/18, 1040 Brussels</br>
  <div class="icon solid alt fa-envelope"> info@contaynor.com</div>
  <div class="icon solid alt fa-phone"> +32 495 920895</div>
  </p>
  <!-- <p class="copyright">&copy; Untitled. All rights reserved.</p> -->
</footer>
