<!-- Header -->
<header id="header" class="alt">
  <!-- Logo -->
  <div class="logo">
    <%= image_tag('logo-black', :class => "navbar-image") %>
  </div>
  <!-- Nav -->
  <nav id="nav">
    <ul>
<!--       <li class="current"><a href="">Home</a></li>
      <li><a href="">Values</a></li>
      <li><a href="">Contact</a></li> -->
    </ul>
  </nav>
</header>
