<%= render 'shared/navbar', type: "" %>
<!-- Section -->
<section class="main accent1">
  <header>
    <h2>Get in touch</h2>
    <p>Zero Emission. Impossible? We're doing it!</p>
    <p>Is your company as committed to zero emission transportation and electrification as we are? Reach out to us. We are more than happy to have a chat with you and hear about your business needs.</p>
  </header>
  <div class="inner">
    <article class="post style2 alt">
      <div class="content">
        <header>
          <span class="category">This is text</span>
          <h3>This is text</h3>
        </header>
        <p>This is text</p>
        <ul class="actions">
          <li><a href="#footer" class="button next">Contact us</a></li>
        </ul>
      </div>
      <div class="mapouter image">
        <div class="gmap_canvas">
          <iframe
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=contaynor&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
        <style>
        </style>
      </div>
    </article>
  </div>
</section>
