<%= render 'shared/navbar', type: "" %>
<!-- Section -->
<section class="main accent1">
  <header>
    <h2>Get in touch</h2>
    <p>Is your company as committed to zero emission transportation and electrification as we are? Reach out to us. We are more than happy to have a chat with you and hear about your business needs.</p>
  </header>
  <div class="inner">
    <article class="post style2 alt">
      <div class="content text-grey text-align-center">
        <h3 class="text-green">Contaynor BV</h3>
        <div class="contact-detail-section">
          <div class="contact-detail-element">
            <ul class="icons-contaynor">
              <li><a class ="icon-contaynor style2" href="https://maps.google.com/maps?ll=50.839261,4.400945&z=13&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=1458611722461988206" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
            </ul>
            <p class="text-align-left">
              Avenue de Tervurenlaan 36/18</br>
              1040 Brussels
            </p>
          </div>
          <div class="contact-detail-element">
            <ul class="icons-contaynor">
              <li><a class ="icon-contaynor style2" href="mailto:info@contaynor.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
            </ul>
            <p>info@contaynor.com</p>
          </div>
          <div class="contact-detail-element">
            <ul class="icons-contaynor">
              <li><a class ="icon-contaynor style2" target="_blank"><i class="fas fa-phone"></i></a></li>
            </ul>
            <p>+32 495 920895</p>
          </div>
          <div class="contact-detail-element">
            <ul class="icons-contaynor">
              <li><a class ="icon-contaynor style2" href="https://www.linkedin.com/company/contaynor/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <p><a href="https://www.linkedin.com/company/contaynor">linkedin.com/company/contaynor</a></p>
          </div>
        </div>
      </div>
      <div class="mapouter image">
        <div class="gmap_canvas">
          <iframe
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=contaynor&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
        <style>
        </style>
      </div>
    </article>
  </div>
</section>
