.construction-wrapper{
  text-align: center;
  background-color: #292f33;
}

.construction-title{
  font-size: 20px;
  margin-bottom: none !important;
  background-color: #292f33;
  color: white;
  padding: 10px;
}
