/* Icon */

  .icon-contaynor {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    text-align: center;
  }

    .icon-contaynor:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon-contaynor > .label {
      display: none;
    }

    .icon-contaynor.style2:before {
      border-radius: 2.75em;
      display: inline-block;
      height: 2.75em;
      line-height: 2.75em;
      width: 2.75em;
    }

    .icon-contaynor.style2 {
      border-radius: 2.75em;
      display: inline-block;
      height: 2.75em;
      line-height: 2.75em;
      width: 2.75em;
    }

    .footer-icon-contaynor{
      border-radius: 2.75em;
      display: inline-block;
      height: 2.75em;
      line-height: 2.75em;
      width: 2.75em;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .icon-contaynor.major {
      display: block;
      margin: 0 0 1rem 0;
    }

  //     .icon.major:before {
  //       font-size: 1.25rem;
  //     }

  // a.icon.style2:before {
  //   -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  // }

  // div.icon.style2:before {
  //   -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  // }

  // i.icon.style2:before {
  //   -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  //   transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  // }

  // .icon.style2:before {
  //   box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  // }

  // a.icon.style2:hover:before {
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }

  // div.icon.style2:hover:before {
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }

  // i.icon.style2:hover:before {
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }



  // a.icon.style2:active:before {
  //   background-color: rgba(71, 211, 229, 0.1);
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }

  // div.icon.style2:active:before {
  //   background-color: rgba(71, 211, 229, 0.1);
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }

  // i.icon.style2:active:before {
  //   background-color: rgba(71, 211, 229, 0.1);
  //   box-shadow: inset 0 0 0 1px #48E27C;
  //   color: #48E27C;
  // }

        .icon-contaynor.major {
        font-size: 1.25rem;
      }

  a.icon-contaynor.style2 {
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  div.icon-contaynor.style2 {
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  i.icon-contaynor.style2 {
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .icon-contaynor.style2 {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }

  a.icon-contaynor.style2:hover {
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }

  div.icon-contaynor.style2:hover {
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }

  i.icon-contaynor.style2:hover {
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }



  a.icon-contaynor.style2:active {
    background-color: rgba(71, 211, 229, 0.1);
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }

  div.icon-contaynor.style2:active {
    background-color: rgba(71, 211, 229, 0.1);
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }

  i.icon-contaynor.style2:active {
    background-color: rgba(71, 211, 229, 0.1);
    box-shadow: inset 0 0 0 1px #48E27C;
    color: #48E27C;
  }
