.text-grey{
  color: _palette(fg-grey);
}

.text-green{
  color: _palette(contaynor-green) !important;
}

.text-bold{
  font-weight: bold;
}

.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}

